.categoryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.categoryImage {
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 300px;
}

.categoryInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oddPosition {
  order: 1;
}

.evenPosition {
  order: 2;
}
