@value breakpoints: "../../styles/variables.css";
@value bpMobile from breakpoints;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  width: 100%;
  margin: auto;
  margin-top: 12px;
}

.pendingUI {
  opacity: 0.25;
}

@media (min-width: bpMobile) {
  .main {
    max-width: 80%;
    margin-top: 24px;
  }
}

.footer {
  background-color: var(--brand-gray);
  text-align: center;
}
