/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}

/*
CSS Variables for Color
*/

:root {
  /* Colors */
  --brand-primary: hsl(335.36deg 98.1% 41.37%);
  --brand-primary-dark: hsl(335.36deg 98.1% 31.37%);

  --brand-secondary: hsl(188.77deg 63.73% 60%);
  --brand-white: white;

  --brand-gray: hsl(0deg 0% 93.33%);
  --brand-gray100: hsl(0deg 0% 73.33%);

  /* Breakpoints */
  --breakpoint-mobile: 550px;
  --breakpoint-tablet: 1100px;
  --breakpoint-laptop: 1500px;
  /* Sizes */
}
