@value breakpoints: "../../styles/variables.css";
@value bpMobile from breakpoints;

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.infoWrapper {
  width: 50%;
}

.formWrapper {
  width: 50%;
}

.submit {
  margin-top: 24px;
}

.error {
  color: var(--brand-red);
  margin-top: 18px;
}

@media (min-width: bpMobile) {
  .wrapper {
    flex-direction: row;
  }
}
