@value breakpoints: "../../styles/variables.css";
@value bpMobile from breakpoints;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 12px;
  background-color: var(--brand-gray);
  flex-basis: 200px;
}

.productsWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: flex-start;
  margin-left: 8px;
}

.category {
  padding: 8px;
}

.categoryActive {
  color: white;
  background-color: hsl(35 98% 41% / 1);
}

@media (min-width: bpMobile) {
  .wrapper {
    flex-direction: row;
  }
}
