.button {
  background-color: var(--brand-primary);
  color: var(--brand-white);

  padding: 0.5rem;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--brand-primary-dark);
}

.button:focus {
  outline: 3px dotted var(--brand-primary);
}

.iconButton {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
