.cartButton {
  width: 140px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 0;
  background-color: var(--brand-gray);
}

.cartButton:hover {
  background-color: var(--brand-gray100);
}

.cartButton:focus {
  outline: 2px dashed var(--brand-primary);
}

.cartLogoWrapper {
  width: 35px;
  height: 35px;
}

.cartIcon {
  fill: var(--brand-primary);
}
