@value breakpoints: "../styles/variables.css";
@value bpMobile from breakpoints;

.header {
  border: 1px solid red;
  height: 60px;
}

.headerContent {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  width: 110px;
  padding: 8px;
}

.navWrapper {
  display: none;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationWrapper {
  display: flex;
  flex-direction: column;
}

.authButtonsWrapper {
  display: none;
}

@media (min-width: bpMobile) {
  .navWrapper {
    display: flex;
    gap: 16px;
  }

  .authButtonsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 10px;
  }

  .imageWrapper {
    flex-basis: 200px;
  }

  .header {
    height: 100px;
  }

  .headerContent {
    max-width: 80%;
    justify-content: flex-start;
  }

  .navigationWrapper {
    flex: 1;
  }
}
