@value breakpoints: "../styles/variables.css";
@value bpMobile, bpTablet, bpLaptop  from breakpoints;

.cardWrapper {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  flex: 1;
  padding: 8px 12px;
  border-bottom: 1px dashed var(--brand-gray100);
}

.wrapper {
  display: flex;
}

.title {
  font-weight: 700;
  margin-bottom: 16px;
}

.imgWrapper {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
}

.img {
  width: 100%;
}

.description {
  background-color: var(--brand-gray);
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  justify-content: space-between;
  flex: 1;
}

.buyLaptop {
  display: none;
}

.card_button {
  width: 100%;
}

@media (min-width: bpMobile) {
  .cardWrapper {
    min-width: 350px;
    box-shadow: 0px 0px 8px 4px var(--brand-gray);
  }
}

@media (min-width: bpTablet) {
  .wrapper {
    flex-direction: column;
    flex: 1;
  }

  .imgWrapper {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: bpLaptop) {
  .buyLaptop {
    display: block;
    margin-top: 12px;
  }

  .buyLaptop form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buyLaptop form > p,
  .buyLaptop form > button {
    width: 150px;
  }

  .buyMobile {
    display: none;
  }
}
